.navbar {
    background: #F8F9FA;
}

.navbar-nav a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.5);

}

#nav-link-home {
    font-weight: 700;
}

#input-search-course::placeholder {
    background-image: url(/images/magnifying_glass.png);
    background-size: 18px;
    background-repeat: no-repeat;
    text-indent: 15px;
    /* Extra Styling */
    transition: 0.3s;
}

#btn-home-srearch-course {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #007BFF;
    color: #007BFF;
}

.slide-content {
    background: #17A2B8;
}

.slide-tilte {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    width: 75%;
}

.slide-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    width: 75%;
    margin: 1rem 0;
}

.slide-button {
    width: 75%;
    line-height: 30px;
}

#btn-brownse-course {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #212529;
    background: #FFC107;
    border: 1px solid #FFC107;
    border-radius: 4px;
    margin-right: 1rem;
    width: 30%;
}

#btn-become-instructor {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #212529;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 40%;
}

.courses-section {
    margin: 2rem 0;
}

.section-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #212529;
}

.course {
    flex: 0 0 23%;
    max-width: 23%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
}

.course-info {
    padding: 1rem;
}

.course-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #007BFF;
    width: 95%;
}

.course-time-and-level {
    display: flex;
    margin: 0.8em 0;
}

i {
    line-height: 24px !important;
}

.course-time-and-level p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #212529;
    margin: 0 0.5em;
}

.course-price {
    display: flex;
}

.discount-price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #343A40;
    margin-right: 0.3rem;
}

.original-price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #6C757D;
    text-decoration: line-through;
}

.course-bottom {
    display: flex;
    background: rgba(0, 0, 0, 0.03);
    border-top: 0.8px solid rgba(0, 0, 0, 0.125);
    padding: 0.8rem 1rem;
    justify-content: space-between;
}

.course-teacher {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.teacher-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #212529;
    width: 75%;
}

.copyirght {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #212529;
    width: 30%;
    text-align: right;
}

.footer-link {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.footer-link a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #007BFF;
}

.course-image img {
    width: 100%;
}

.course-teacher img {
    width: 15%;
    border-radius: 15px;
}